$color-primary: #6FA821;
$color-gradient-bg:linear-gradient(45deg,#456D0D , #73AA27);
$color-bg: #F1F1F1;
$color-title: #2D2D2D;
$color-text:#585858;
$color-text-placeholder: #A7A7A7;
$color-interactive-bg: #E2E2E2;
$color-footer-bg: #c4c4c4;
$color-bg-preview-text:#FFFFFF;
$color-bg-submenu:#498500;
$color-bg-btnExit:#A82121;
$color-txt-publication:rgba(0, 0, 0, 0.37);
$color-eye:#007dbd;