.about-us{
    display: flex;
    flex-direction: column;
    &__box-text{
        display: flex;
        flex-direction: column;
    }
}
.illustration-cdb{
    display: flex;
    background-color: $color-primary;
    background-image: $color-gradient-bg;
    height: 450px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
        .container--column{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            background-image: url(/assets/img/cbd-formol.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 50%;
        }
        @media only screen and(min-width: 1080px){
            .container--column{
                background-size: 51%;
                height: 100%;
            }
        }
        @media only screen and(max-width: 500px){
            .container--column{
                justify-content: flex-start;
                background-position-y: 200px;
                height: 100%;
                background-size: 100%;
                background-position: 100% 90%;
            }
        }
        .title--white{
            color: $color-bg;   
        }
        &__text{
            color: $color-bg;
            width: 50%;
        }
        @media only screen and(max-width: 500px){
            &__text{
                width: 100%;
            }
        }
}
@media only screen and(max-width: 500px){
    .illustration-cdb{
        height: 430px;
        align-items: flex-start;
    }
}