.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title--cards {
        margin-bottom: 0px;
        &__line-title {
            width: 80%;
            height: 2px;
            background-color: black;
            border-radius: 30px;
            border: none;
        }
    }
    &--page_category {
        margin-top: 30px;
    }
    .container--cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    &__box-card {
        display: flex;
        align-items: flex-end;
        width: 22%;
        height: 250px;
        margin: 20px 0;
        background-image: url(/assets/img/bg.jpg);
        background-size: cover;
        background-position: center;
    }
    @media only screen and(max-width: 900px) {
        &__box-card {
            width: 31%;
            height: 240px;
        }
    }
    @media only screen and(max-width: 700px) {
        &__box-card {
            width: 48%;
            height: 250px;
        }
    }
    @media only screen and(max-width: 500px) {
        &__box-card {
            width: 100%;
            height: 400px;
        }
    }
    &__preview-text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-bg-preview-text;
        padding: 0 15px;
        width: 100%;
        height: 30%;
        p {
            overflow: hidden;
            display: inline-block;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        @media only screen and(max-width: 900px) {
            height: 20%;
        }
    }
}