.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
        &__copyright{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
        &__law{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:$color-footer-bg;
            padding: 0 3%;
            flex: 1;
        }
}
