.header{
    display: flex;
    width: 100%;
    height: 500px;
    &__nav{
        display: flex;
        align-items:flex-start;
        justify-content:flex-end;
        width: 100%;
        height:500px;
        position: relative;
        z-index: 1;
    }
    &__list{
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 5%;
        justify-content: flex-end;
    }
    @media only screen and(max-width: 700px){
        &__list{
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            position: fixed;
            top: 0px;
            right: 0px;
            height: 500px;
            width: 0;
            margin:0;
            padding: 60px 0px 0px 0px;
            background-color: $color-primary;
            transition: 0.3s all ease-in-out;
            overflow: hidden;
        }
    }
    .open-menu{
        opacity: 1;
        visibility: visible;
        height: 500px;
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 0;
        box-shadow: -3px 7px 20px rgba(0,0,0,0.5);

    }
    .hamburger-menu{
        display: flex;
        flex-direction: column;
        color:inherit;
        list-style: none;
        text-decoration:none;
            #checkbox-menu{
                position: fixed;
                opacity: 0;
                left: 1px;
            }
            #checkbox-menu:checked + label span:nth-child(1){
                transform: rotate(-45deg);
                top: 10px;
            }
            #checkbox-menu:checked + label span:nth-child(2){
                opacity: 0;
                margin-left: 20px;
            }
            #checkbox-menu:checked + label span:nth-child(3){
                transform: rotate(45deg);
                top: 10px;
            }
            
            label{
                cursor: pointer;
                position: fixed;
                display: block;
                height: 30px;
                width: 60px;
                right: 10px;    
                top: 20px;  
            }
            &__bars{
                position: absolute;
                display: block;
                height: 5px;
                width: 60%;
                border-radius: 30px;
                background: #fff;
                transition: 0.3s ease-in-out;
                    &:nth-child(1){
                        position: absolute;
                        top: 0px;
                    }
                    &:nth-child(2){
                        position: absolute;
                        top: 10px;
                    }
                    &:nth-child(3){
                        position: absolute;
                        top: 20px;
                    }

            }
    }
    @media only screen and(max-width: 700px){
        .hamburger-menu{
            display:flex;
            z-index:1;
        }
    }
    @media only screen and(min-width: 700px){
        .hamburger-menu{
            display: none;
        }
    }
    &__items{
        display: flex;
        justify-content: flex-start;
        color:$color-bg;
        margin: 0 20px;
    }
    @media only screen and(max-width: 700px){
        &__items{
            display: flex; 
            align-items: center ;
            width: 100%;
            margin: 0;
            height:60px;
            padding-left: 30px;
            border-bottom: solid 2px $color-interactive-bg;
        }
    }
    &__items--hover{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        
            &:hover .header__items--submenu{
                display: flex;
            }
    }
    @media only screen and(max-width: 700px){
        &__items--hover{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__list--submenu{
        display: flex;
        position: absolute;
        flex-direction: column;
        right:-30px;
        top: 20px;
    }
    @media only screen and(max-width: 700px){
        &__list--submenu{
            left:50px;
            top: 20px;
        }
    }
    &__items--submenu{
        background-color:$color-primary;
        display: none;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 40px;
        transition: 0.3s;
        cursor: pointer;
            &:hover{
                background-color:$color-interactive-bg;
                color:$color-primary;
            }
    }
    &__arrow-down{
        position: absolute;
        left:55px;
        bottom: 2px;
    }
    @media only screen and(max-width: 900px){
        &__arrow-down{
            left:50px;
        }
    }
    @media only screen and(max-width: 700px){
        &__arrow-down{
            left:85px;
            top:23px;
        }
    }

    &__search{
        display: flex;
        height: 40px;
        width: 200px;
        border-radius: 25px;
        border: 2px solid $color-bg;
        padding-left:5%;
        color:$color-bg;
        background-color:transparent;
        outline: none;
        transition: 0.3s;
        &::placeholder{
            color:$color-bg;
        }
        &:focus{
            width: 220px;
            border-color: $color-primary;
        }
    }
    @media only screen and(max-width: 700px){
        &__search{

            &::placeholder{
                color:$color-bg;
            }
            &:focus{
                width: 100%;
                height: 100%;
                border-color: $color-primary;
                background-color:$color-primary;
                border-radius: 0;
                
            }
        }
    }
    &__link-btn{
        text-decoration: none;
    }
    &__btn-default--size{
        display: flex;
        align-items:center;
        justify-content:center;
        width: 80px;
        height: 35px;
        &:hover{
            opacity: 0.9;
        }
    }
    
    .carousel{
        width: 100%;
        height:500px;
        position: absolute !important;
        right: 0;
        top: 0;
        z-index: 0;
            &__images{
                width: 100%;
                height: 500px!important;
                background-size: cover;
                background-position: center center;
                box-shadow:inset 0 0 1000em black;

        }
        &__title{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color:$color-bg;
            background-color: rgba(0,0,0,0.3);
            margin-top: 0;
        }
        .slick-prev{
            left: 35px!important;
            z-index: 1;
        }
        .slick-next{
            right:35px!important;
            z-index: 1;
        }  
    } 
     background-image: url(/assets/img/bg.jpg);
    
}

