.post {
    display: flex;
    flex-direction: column;
}

.text {
    white-space: pre-wrap;
    font-family: 'Varela', 'Open Sans', sans-serif;
}

.container-postagens {
    flex-wrap: wrap;
    justify-content: space-between;
    .cards__box-card {
        margin: 10px;
    }
}